/* Group Project Page 
   IT 115 - Fall 2023
   Author: Deseray Ruiz
   Date:   11/8/2023

   Filename: des_main.css */

/* Section Styles */

header {position: fixed;
    top: 0;
    left: 0;
    width: 100%;
 background: #FDB9C8;
background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(12,9,9,1) 32%, rgba(253,185,200,0.9745971058464535) 68%); 
}

body {background : #FDB9C8;
  background : rgb(253, 185, 200); 
}

div.wrapper {background-color : #F9DFE5;
     background-color : rgb(249, 223, 229);
     width: 940px; 
     margin: 0px auto;
    padding: 20px;
}

img {padding: 15px;
    }

h1 {color : #CA5570;
   color : rgb(202, 85, 112);
   font-size: 40px;
   text-align: center; 
   }

h2 {color: #CA5570;
    color: rgb(202, 85, 112); 
    text-decoration: underline;
    }
 
h3 {text-align: center;
}

div.banner{
   Width: auto;
}

nav {width:100%;
    height: 55px;
    line-height: 50px;
    background: #000;
    margin: 20px auto 20px auto; 
}

nav ul {width: 1100px; 
margin: 0 auto;
}

nav li { 
float: left;
list-style-type: none;
width: 13%;
text-align: center; 
}

nav a {
    text-decoration: none;
    display: block;
    color: white;
}

nav a:hover {background: #CA5570;
}
